<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hash Password</title>
</head>
<body>

<h1>Skriv in det lösenord du vill hash:a</h1>

<div>
    <form action="createNewHash" method="post">
        <label for="password">Du får både MD5 och SHA256 hash</label> <br>
        <input id="password" name="password" type="text">

        <button type="submit">Hash:a Lösenordet</button>
    </form>
</div>
<br>
<div>
    <a href="/landing"> Tillbaka </a>
</div>
<br>
<div>
    <a href="/logout">Logga ut</a>
</div>

</body>
</html>
